* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .page {
    display: flex;
    justify-content: space-between;
    margin: 20px 200px;
    gap: 100px;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0;
    gap: 0px;
    box-sizing: content-box;
    /* margin: 10px 500px 10px 500px; */
  }
  
  .coloredBox {
    background-color: red;
  }
  
  .btn {
    padding: 20px;
  }

  .leftNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }